.grid {
        display: grid;
        grid-gap: none;
        grid-template-areas:
        "header"
        "content"
        "footer"
}

.header {
        grid-area: header;
}

.content {
        grid-area: content;
}

.footer {
        grid-area: footer;
}

.flex {
        display: flex;
        margin: 0px;
        padding: 2px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        line-height: 20px;
}

