@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(colors.css);
@import url(container.css);

body {
    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: #56C9C1;
}

nav {
    background-color: hsla(0, 100%, 90%, 0.3);
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

nav ul li {
    border-bottom: 1px dashed #937B63;
    padding: 10px;
    color: black;
}


img.nav-logo {
    padding: 10px;
    margin: 10px;
}

img.menu-toggle {
    width: 40px;
    padding: 38px 10px 0px 0px;
    margin: 10px;
}

input#Toggle {
    display: none;
}
input#Toggle:checked + ul {
    display: block;
}

label[for="Toggle"] {
    float: right; 
}

div.space {
    padding: 10px;
}

a.font-size{
    font-size: 20px;
}

.pfont {
    font-size: 18pt;
}

footer {
    background-color: #937B63;
    color: white;
}

img.none {
    display: none;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    padding: 10px;
    line-height: 30px;
    font-size: 12pt;
}

img.sizing {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}

img.sizing2 {
    width: 200px;
    
}


figcaption {
    width: 200px;
    text-align: center;
    word-wrap: break-word;
}

.box-resize {
    min-width: 90%;
}

form {
    display: block;
    margin: auto;
    text-align: center;
    padding: 5px;
    max-width: 80%;
}

.rev {
    border: outset 1px;
    border-radius: 5px; 
    box-shadow: 1px 2px;
    line-height: 20pt;
}


textarea {
    font-family: Roboto, sans-serif;
}

@media (min-width: 320px) {
    footer ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
        padding: 10px;
    }
    .pfont {
        display: block;
        margin: auto;
        max-width: 90%; 
        font-size: 12pt;
    }
}


@media (max-width: 767px) {
    img.nav-logo { 
        max-width: 175px;
    }

    nav ul li:last-child {
        border-bottom: none;
    }


}

@media (min-width: 768px) {
    nav ul li {
        border: hidden 2px;
        border-radius: 5px;
        display: inline-block;
        font-size: 1.5em;
        margin: 20px;
    }

    nav ul li:hover {
        border: #56C9C1;
        background-color: white;
    }

    img.nav-logo {
        display: block;
        margin: auto;
        width: 250px;
    }
    
    label[for="Toggle"] {
        display: none;
    }

    nav ul {
        display: block;
    }

    footer ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 1em;
    }
    
}