@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url(color.css);
@import url(navbar.css);


body {
    margin: 0px;
    font-family: 'Merriweather', serif;}

header {
    padding: 10px;
}

main {
    margin: 20px;
    text-align: center;
}

main img {
    display: block;
    max-width: 90%;
    margin: auto;
    padding: 30px 0px 0px 30px;
}

main p {
    background-color:beige;
    color: #33658A;
    font-size: 30pt;
    padding: 0px;
    margin: 10px;
}

main ul{
    display: block;
    color: #33658A;
    font-size: 12pt;
    list-style: none;
    padding: 0px;
}



.img-1 {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.img-2 {
    width: 400px;
    height: 200px;
    object-fit: cover;

}


main iframe {
    max-width: 100%;
    display: block;
    margin: auto;
}

footer {
    background-color: black;
    color: white;
    font-size: 20pt;
    padding: 20px;
    text-align: center;
    height: 100px;
    position: sticky;

}

@media (min-width: 320px) {
    main img {
        padding: 10px;
    }
    
}

@media (min-width: 768px) {

    .flex {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
  
    .break {
        flex-basis: 100%;
        height: 0;
    }
}