img.nav-logo {
    max-width: 100%;
    width: 150px;
}


nav ul {
    list-style: none; 
    margin: 0px; 
    padding: 10px 0px 0px;
    display: none; 
    text-align: center;
}

nav ul li {
    padding: 10px 0px;
    border-bottom: 1px dashed #33658A;
}

nav ul li:last-child {
    border-bottom: none;
}

nav ul a {
    color: #33658A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

@media (min-width: 768px) {

    img.nav-logo {
        width: 250px;
        margin: auto;
    }

    nav ul {
       display: block;     
       padding: 10px;
    }

    nav ul li {
        border: none;
        display: inline-block;
        margin-right: 20px;
        padding: 5px 0px;
    }
    
    .flex {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .order-lrg-1 {
        order: 1;
    }
    
    .order-lrg-2 {
        order: 2;
    }
    
    .order-lrg-3 {
        order: 3;
    }
    
    .order-lrg-4 {
        order: 4;
    }

    .order-lrg-5 {
        order: 5;
    }

}