.container {
    display: grid;
    column-gap: 5px;
    row-gap: 10px;
    grid-template-areas:
        ". header header"
        "sidebar content content"
        "footer footer footer";

}

.header {
    grid-area: header;
    text-align: center;
}

.sidebar {
    grid-area: sidebar;
    text-align: center;
}

.contents {
    grid-area: content;
}

.footer {
    grid-area: footer;
    text-align: center;
}

.box {
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

@media (min-width: 320px) {
    .container {
        grid-template-columns: 1/4fr 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: 1/2fr 1fr 1fr;
    };
}