.brown-bg {
    background-color:#734B37;
}

.peach-bg {
    background-color: #FFB894;
}

.teal-bg {
    background-color: #44B2AC;
}

.sky-bg {
    background-color: #DDFFFD;
}

.black-tx {
    color: rgb(0, 0, 0);
}

.teal-tx {
    color: 44B2AC;
}
